<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/static/contactus.css">
</head>
<body>
    <nav class="heading">
        <ul class="right-align">
            <li><a href="/home">Home</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/contactus">Contact us</a></li>
        </ul>
        <h3 class="topic">CROP INTELLECT</h3>
        <p class="subheading">ML DRIVEN CROP RECOMMENDATION</p>
    </nav>
    <h1>Contact Us</h1>
    <div class="contact-section">
        <div class="contact-info">
            <i class='fas fa-map-marker-alt'></i>
<i class='fas fa-map-marker-alt' style='font-size:24px'></i>
<i class='fas fa-map-marker-alt' style='font-size:36px'></i>
<i class='fas fa-map-marker-alt' style='font-size:48px;color:red'></i>
            <p>Crop Intellect</p>
            <p>Neil Gogte Institute Of Technology</p>
            <p>Peerzadiguda, Uppal, Hyderabad,</p>
            <p>Telangana-500039</p>
            <p>India</p>
            <p>&#9743 <a href="tel:+916281386496">6281386496</a></p>
            <p>&#9993; <a href="mailto:xy4z44@duck.com">contact@cropintellect.in</a></p>
        </div>
        <div class="feedback-form">
            <h3>Share your feedback with us!</h3>
            <p>Have any questions? We'd love to hear from you.</p>
            <form id="contact-form" action="/submit" method="POST">
                <input type="text" name="fullname" placeholder="Full Name" required>
                <input type="email" name="emailid" placeholder="Email ID" required>
                <input type="text" name="phonenumber" placeholder="Phone No" required>
                <textarea name="message" placeholder="Message" required></textarea>
                <button type="submit" class="button"><b>Submit</b></button>
            </form>
        </div>
    </div>
</body>
</html>