<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="/static/pp.css" />
  </head>
  <body>
    <nav class="heading">
      <h3 class="topic">CROP INTELLECT</h3>
      <p class="subheading">MACHINE LEARNING DRIVEN CROP RECOMMENDATION</p>
      <h1 class="Head">Privacy Policy</h1>
    </nav>
    <p>
      Thank you for visiting our website and for your interest in our crop
      recommendation service. At Crop Intellect, we are committed to protecting
      your privacy and ensuring the security of your personal information. This
      Privacy Policy outlines how we collect, use, and protect your data when
      you use our website and services.
    </p>
    <h1>1. Introduction</h1>
    <p>
      This section provides an overview of our commitment to privacy and data
      security.
    </p>
    <h1>2. Information We Collect</h1>
    <p>
      We collect certain information from you when you use our crop
      recommendation service. This information may include: <br />Crop
      Recommendation Data: such as the attributes you input, including nitrogen,
      phosphorus, potassium levels, humidity, and rainfall data.
    </p>
    <h1>3. How We Use Your Information</h1>
    <p>
      We use the information we collect for the following purposes: <br />Crop
      Recommendation: To provide you with personalized crop recommendations
      based on the data you input. <br />Communication: To communicate with you
      regarding your inquiries, feedback, or updates about our services.
      <br />Improvement of Services: To analyze user data and feedback in order
      to improve our crop recommendation algorithms and user experience.
    </p>
    <h1>4. Data Sharing</h1>
    <p>
      We do not sell, trade, or otherwise transfer your personal information to
      third parties without your consent, except as described in this Privacy
      Policy. We may share your information with trusted third parties who
      assist us in operating our website, conducting our business, or servicing
      you, as long as those parties agree to keep this information confidential.
    </p>
    <h1>5. Data Security</h1>
    <p>
      We implement a variety of security measures to maintain the safety of your
      personal information. Your data is stored on secure servers and is only
      accessible by authorized personnel with appropriate access rights.
    </p>
    <h1>6. Your Choices</h1>
    <p>
      You have the right to access, update, or delete your personal information
      at any time. You may also opt-out of receiving marketing communications
      from us by following the unsubscribe instructions provided in our emails.
    </p>
    <h1>7. Changes to This Privacy Policy</h1>
    <p>
      We reserve the right to update or modify this Privacy Policy at any time.
      Any changes will be effective immediately upon posting the updated Privacy
      Policy on this page.
    </p>
    <h1>8. Contact Us</h1>
    <p>
      If you have any questions or concerns about this Privacy Policy or our
      data practices, please contact us at &#9993;
      <a href="mailto:xy4z44@duck.com">contact@cropintellect.in</a>
    </p>
  </body>
</html>
